</div>
<p>&nbsp;</p>
<div class="clear"></div>
<div class="footer">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><b>Powered by MMS, developed by the <%= link_to 'D.I.T.', 'http://www.dit.gov.bt' %> in collaboration with <%= link_to 'Andres Montano', 'http://www.gaugeus.com/ramblings/andres-montano' %> on behalf of <%= link_to 'THDL', 'http://www.thdl.org' %>.</b></td>
  </tr>
</table>
</div> <!-- footer -->
</body>
</html>