.DS_Store
*.tmproj
*.csv
secret.txt
config/database.yml
config/environments/quandu_*.rb
doc/plugins/*
public/categories
public/documents
public/documents.xml
public/images
public/javascripts/tiny_mce/
public/media_objects
public/movies
public/places
public/topics
public/topics.html
public/typescripts
www
