.DS_Store
*.tmproj
*.csv
config/database.yml
config/environments/quandu_*.rb
doc/plugins/*
public/javascripts/tiny_mce/
public/images
public/movies
public/typescripts
public/media_objects
public/categories
public/documents
public/places
www