<div id="footer">
	<p id="legal">Copyright &copy; 2007 <%= link_to 'Department of Information Technology', 'http://www.dit.gov.bt' %>. All rights reserved.</p>
	<p>Powered by MMS, designed &amp; developed by the <%= link_to 'D.I.T.', 'http://www.dit.gov.bt' %> for NSCCC.</p>
</div>
<!-- end #footer -->

</body>
</html>