<h2>National Digital Library of Bhutan</h2>
<p>A collaboration between Department of Information Technology, the University of Virginia, and other Bhutanese stakeholder agencies.</p>
<p>
  <table border="0" cellspacing="0" width="100%" bgcolor="bisque" style="margin-left: 0px; border: solid 1px black; padding: 0px;">
    <tr>
      <td colspan="2" valign="top" width="100%" style="border: solid 1px black; padding: 0px;">
        <center><b>Stakeholder Agencies</b></center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="25%" valign="top">
              <ul style="margin-top: 6pt;">
                <li>Department of Information Technology;</li>
                <li>Ministry of Education;</li>
                <li>Dzongkha Development Commission;</li>
                <li>Ministry of Home & Cultural Affairs;</li>
              </ul>
            </td>
            <td width="25%" valign="top">
              <ul style="margin-top: 6pt;">
                <li>Centre for Bhutan Studies;</li>
                <li>Department of Survey & Land Records;</li>
                <li>National Statistics Bureau;</li>
                <li>Department of Tourism;</li>
              </ul>
            </td>
            <td width="25%" valign="top">
              <ul style="margin-top: 6pt;">
                <li>Institute of Language & Cultural Studies;</li>
                <li>National Library of Bhutan;</li>
                <li>Royal University of Bhutan;</li>
                <li>National Institute of Zorigchusum;</li>
              </ul>
            </td>
            <td width="25%" valign="top">
              <ul style="margin-top: 6pt;">
                <li>Department of Information & Media;</li>
                <li>The Tibetan & Himalayan Digital Library (THDL); and</li>
                <li>University of Virginia.</li>
              </ul>
              
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" style="border: solid 1px black; padding: 0px;" width="50%">
        <center><b>Goals</b></center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="100%" valign="top">
              <ul style="margin-top: 6pt;">
                <li>To create a powerful digital library for use by all Bhutan government agencies & schools;</li>
                <li>To provide tools for long term storage and delivery of text, images, audio-video, place information, maps, and reference resources;</li>
                <li>To publish extensive Bhutanese content on web;</li>
                <li>To localize interfaces and content with Dzongkha;</li>
                <li>To use open source technologies and open content models for free access;</li>
                <li>To apply THDL technology for deployment of Bhutanese content;</li>
                <li>To enable quick deployment by adapting extant software and co-developing new software with THDL;</li>
                <li>To build long term partnership with UVa on building technology;</li>
                <li>Share content so that Bhutanese content can be seen in relationship to Himalayan regions overall; and</li>
                <li>To make content available on high bandwidth (DIT) and outside (UVa) of Bhutan.</li>
              </ul>
            </td>
          </tr>
        </table>
      </td>
      <td valign="top" style="border: solid 1px black; padding: 0px;" width="50%">
        <center><b>Objectives for establishment of Digital Library</b></center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="50%" valign="top">
              <ul style="margin-top: 6pt;">
                <li>Use ICT to help preserve and promote cultural heritage;</li>
                <li>Coordinate and standardize the work involved in preservation and promoting the cultural heritage;</li>
                <li>Dissemination of knowledge/information; and</li>
                <li>Preserve written, oral and material form of Bhutanese heritage and culture.</li>
              </ul>
            </td>
          </tr>
          
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" style="border: solid 1px black; padding: 0px;">
        <center><b>Beneficiaries</b></center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="50%" valign="top">
              <ul style="margin-top: 6pt;">
                <li>Tourists;</li>
                <li>Scholars/students;</li>
                <li>Bhutanese Locals; and</li>
                <li>Researchers.</li>
              </ul>
            </td>
          </tr>
        </table>
      </td>
      <td valign="top" style="border: solid 1px black; padding: 0px;">
        <center><b>Acknowledgement to Content Contributors</b></center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="50%" valign="top"><center>Many thanks to following content contributors:</center>
              <ul style="margin-top: 6pt;">
                <li>ILCS - For providing videos and pictures on different rituals from around the country.</li>
                <li>Francoise Pommaret - For providing pictures on festivals in Bhutan.</li>
                <li>DDC - For providing Dzongkha-Dzongkha, Dzongkha-English, English-Dzongkha dictionaries.</li>
                <li>DoT - For providing pictures from different part of the country.</li>
                <li>Department of Survey & Land Records - For providing contents consisting of shape files & satellite images for Bhutan (30m resolution).</li>
              </ul>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</p>