#universal_navigation > .ui-tabs-panel, .secondary-universal-navigation > .ui-tabs-panel {
	width:100%;
	padding:0;
}

#universal_navigation > ul.ui-tabs-nav a {
    background-position: 100% -150px;border-bottom-width:0pt;
    border-bottom-width:0pt;
    text-transform: uppercase;
    color: #fff;
    font-weight:normal;
}
#universal_navigation > ul.ui-tabs-nav a span {
	background-position: 0 -50px;
    text-transform: uppercase;
    color: #fff;
    font-weight:normal;
}

#universal_navigation > ul.ui-tabs-nav .ui-tabs-selected a {
    background-position: 100% -100px;
    color: #444;
}
#universal_navigation > ul.ui-tabs-nav .ui-tabs-selected a span {
    background-position: 0 0;
    color: #444;
}
#universal_navigation > ul.ui-tabs-nav {
	list-style-type: none;
}

/* Secondary tabs */

.secondary-universal-navigation .ui-tabs-nav {
	padding:0;
	background-color:#c4c4aa;
}

.secondary-universal-navigation .ui-tabs-nav a,
.secondary-universal-navigation .ui-tabs-nav a span {
	background-image:none;
	background-color:#c4c4aa;
	min-height:14px;
	margin:0;
	padding-top:0;
	padding-bottom:0;
	color:#444;
	border:0;
}

.secondary-universal-navigation ul.ui-tabs-nav {
	list-style-type: none;
}

.secondary-universal-navigation .ui-tabs-nav li {
	margin:4px 0;
	border-right:1px solid #999;
}

.secondary-universal-navigation .ui-tabs-nav .ui-tabs-selected a {
	top:0;
	background-color:#c4c4aa;
	color:#444;
	text-decoration:underline;
}

.secondary-universal-navigation .ui-tabs-nav .ui-tabs-selected a span {
	color:#444;
	text-decoration:underline;
}

.secondary-universal-navigation .ui-tabs-nav .ui-state-hover a,
.secondary-universal-navigation .ui-tabs-nav .ui-state-hover a span {
	color:#333 !important;
}

/* App-specific */
#FeaturePanelContainer {
	border-top: 0;
}