<%= render :partial => 'main/header' %>
<div class="shell-1">
<% primary_tab = @current_tab_id == :dictionary_search ? :himalayan_search : :media %>
<%= universal_navigation primary_tab, @current_tab_id, custom_secondary_tabs(@current_tab_id) do %>
<%= yield %>
<div id="popup_dialog"></div>
<% end %>
</div>
<%= footer %>