<%= render :partial => 'main/header' %>

<div class="shell-1">
  <% universal_navigation :media, @current_tab_id, custom_secondary_tabs(@current_tab_id) do %>
    <%= yield %>
  <% end %>
			
</div>

<%= footer %>